<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="neighborhoodData">
            <h2><span>Neighborhood Data</span> {{ neighborhoodData.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Neighborhood Name</span></dt>
                <dd>
                    <span>{{ neighborhoodData.neighborhoodName }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    *jhiHasAnyAuthority="'ROLE_ADMIN'"
                    display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                    [routerLink]="['/neighborhood-data', neighborhoodData.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
