<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4">Hello, World - SLMPData Project</h1>

        <p class="lead">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Register a new account</a>
            </div>
        </div>

        <p>
            If you have any question on JHipster:
        </p>

        <ul>
            <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer">JHipster homepage</a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer">JHipster on Stack Overflow</a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener noreferrer">JHipster bug tracker</a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">JHipster public chat room</a></li>
            <li><a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer">follow @jhipster on Twitter</a></li>
        </ul>

        <p>
            <span>If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">GitHub</a>!
        </p>
    </div>

    <div class="table-responsive" id="entities" *ngIf="reportedEvents?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="complaintId"><span>Complaint Id</span> <fa-icon icon="sort"></fa-icon></th>
                <!--                    <th scope="col"  jhiSortBy="codedMonth"><span>Coded Month</span> <fa-icon icon="sort"></fa-icon></th>-->
                <!--                    <th scope="col"  jhiSortBy="codedMonthAsInt"><span>Coded Month As Int</span> <fa-icon icon="sort"></fa-icon></th>-->
                <th scope="col"  jhiSortBy="eventOccurred"><span>Event Occurred</span> <fa-icon icon="sort"></fa-icon></th>
                <!--                    <th scope="col"  jhiSortBy="newCrimeflag"><span>New Crimeflag</span> <fa-icon icon="sort"></fa-icon></th>-->
                <!--                    <th scope="col"  jhiSortBy="crimeUnfoundedFlag"><span>Crime Unfounded Flag</span> <fa-icon icon="sort"></fa-icon></th>-->
                <!--                    <th scope="col"  jhiSortBy="administrativeAdjustmentFlag"><span>Administrative Adjustment Flag</span> <fa-icon icon="sort"></fa-icon></th>-->
                <!--                    <th scope="col"  jhiSortBy="count"><span>Count</span> <fa-icon icon="sort"></fa-icon></th>-->
                <!--                    <th scope="col"  jhiSortBy="cleanupFlag"><span>Cleanup Flag</span> <fa-icon icon="sort"></fa-icon></th>-->
                <!--                    <th scope="col"  jhiSortBy="crimeCode"><span>Crime Code</span> <fa-icon icon="sort"></fa-icon></th>-->
                <th scope="col"  jhiSortBy="districtCode"><span>District Code</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="eventDescription"><span>Event Description</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="ileadsAddressNumber"><span>Ileads Address Number</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="ileadsStreetName"><span>Ileads Street Name</span> <fa-icon icon="sort"></fa-icon></th>
                <!--                    <th scope="col"  jhiSortBy="neighborhoodCode"><span>Neighborhood Code</span> <fa-icon icon="sort"></fa-icon></th>-->
                <th scope="col"  jhiSortBy="eventLocationName"><span>Event Location Name</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="eventLocationComment"><span>Event Location Comment</span> <fa-icon icon="sort"></fa-icon></th>
                <!--                    <th scope="col"  jhiSortBy="cadStreetNumber"><span>Cad Street Number</span> <fa-icon icon="sort"></fa-icon></th>-->
                <!--                    <th scope="col"  jhiSortBy="cadStreetName"><span>Cad Street Name</span> <fa-icon icon="sort"></fa-icon></th>-->
                <!--                    <th scope="col"  jhiSortBy="xCoordinates"><span>X Coordinates</span> <fa-icon icon="sort"></fa-icon></th>-->
                <!--                    <th scope="col"  jhiSortBy="yCoordinates"><span>Y Coordinates</span> <fa-icon icon="sort"></fa-icon></th>-->
                <!--                    <th scope="col"  jhiSortBy="crimeCategoryShortened"><span>Crime Category Shortened</span> <fa-icon icon="sort"></fa-icon></th>-->
                <!--                    <th scope="col"  jhiSortBy="newDateField"><span>New Date Field</span> <fa-icon icon="sort"></fa-icon></th>-->
                <th scope="col"  jhiSortBy="crimeCategoryData.crimeCategory"><span>Crime Category Data</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="neighborhoodData.neighborhoodName"><span>Neighborhood Data</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"  jhiSortBy="codedDateData.codedDateString"><span>Coded Date Data</span> <fa-icon icon="sort"></fa-icon></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reportedEvents of reportedEvents ;trackBy: trackId">
                <td><a [routerLink]="['/reported-events', reportedEvents.id, 'view']">{{ reportedEvents.id }}</a></td>
                <td>{{ reportedEvents.complaintId }}</td>
                <!--                    <td>{{ reportedEvents.codedMonth }}</td>-->
                <!--                    <td>{{ reportedEvents.codedMonthAsInt }}</td>-->
                <td>{{ reportedEvents.eventOccurred }}</td>
                <!--                    <td>{{ reportedEvents.newCrimeflag }}</td>-->
                <!--                    <td>{{ reportedEvents.crimeUnfoundedFlag }}</td>-->
                <!--                    <td>{{ reportedEvents.administrativeAdjustmentFlag }}</td>-->
                <!--                    <td>{{ reportedEvents.count }}</td>-->
                <!--                    <td>{{ reportedEvents.cleanupFlag }}</td>-->
                <!--                    <td>{{ reportedEvents.crimeCode }}</td>-->
                <td>{{ reportedEvents.districtCode }}</td>
                <td>{{ reportedEvents.eventDescription }}</td>
                <td>{{ reportedEvents.ileadsAddressNumber }}</td>
                <td>{{ reportedEvents.ileadsStreetName }}</td>
                <!--                    <td>{{ reportedEvents.neighborhoodCode }}</td>-->
                <td>{{ reportedEvents.eventLocationName }}</td>
                <td>{{ reportedEvents.eventLocationComment }}</td>
                <!--                    <td>{{ reportedEvents.cadStreetNumber }}</td>-->
                <!--                    <td>{{ reportedEvents.cadStreetName }}</td>-->
                <!--                    <td>{{ reportedEvents.xCoordinates }}</td>-->
                <!--                    <td>{{ reportedEvents.yCoordinates }}</td>-->
                <!--                    <td>{{ reportedEvents.crimeCategoryShortened }}</td>-->
                <!--                    <td>{{ reportedEvents.newDateField | date:'mediumDate' }}</td>-->
                <td>
                    <div *ngIf="reportedEvents.crimeCategoryData">
                        <a [routerLink]="['/crime-category-data', reportedEvents.crimeCategoryData?.id, 'view']" >{{ reportedEvents.crimeCategoryData?.crimeCategory }}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="reportedEvents.neighborhoodData">
                        <a [routerLink]="['/neighborhood-data', reportedEvents.neighborhoodData?.id, 'view']" >{{ reportedEvents.neighborhoodData?.neighborhoodName }}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="reportedEvents.codedDateData">
                        <a [routerLink]="['/coded-date-data', reportedEvents.codedDateData?.id, 'view']" >{{ reportedEvents.codedDateData?.codedDateString }}</a>
                    </div>
                </td>
                <!--                    <td *jhiHasAnyAuthority="'ROLE_ADMIN'" class="text-right" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">-->
                <td>
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/reported-events', reportedEvents.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>

                        <button type="submit"
                                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                                [routerLink]="['/reported-events', reportedEvents.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>

                        <button type="submit"
                                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                                (click)="delete(reportedEvents)"
                                class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>




</div>
